[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
psycopg2-binary = "*"
django-ninja = "*"

[dev-packages]
ipython = "*"
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.12"
